# Backend envs
DATABASE_URL=postgres://postgres:mysecretpassword@db:5432/budget
JWT_SECRET=akeylongenoughtobeusedforthealgorithmshouldbeatleast32characters
PLAID_CLIENT_ID=<YOUR-CLIENT-ID>
PLAID_SECRET=<YOUR-SECRET>
PLAID_ENV=sandbox
BACKEND_PORT=8080
RESET_DB=false
ALLOWED_ORIGINS=http://localhost:3000
BASE_URL=http://localhost

# Frontend envs
API_URL=http://localhost:8080
FRONTEND_PORT=3000

# Postgres envs (used by the db container in compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=budget
DB_PORT=5432

